/*Entire webpage has a border-box with no padding or margin.*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
/*background color of body of webpage is set to light gray*/
body {
    background-color: #d9dcd6; 
}

/*Content within the header have 20 pixels of padding all around 
and a font of Trebuchet MS with the other fonts listed as fallbacks.
Background color of the header is set to Navy Blue and the text is set to white.*/
header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c; 
    color: #ffffff;
}
/*font size of text in the <h1> elements of the header to 48px and are displayed inline.*/
header h1 {
    display: inline-block;
    font-size: 48px; 
}
/*set color of "seo" to light grey*/
header h1 .seo {
    color: #d9dcd6; 
}
/*Content within the <nav> element inside of the <header> have a top padding 
of 15 pixels and a right-side margin of 20 pixels. 
The links are set to the right side of the page. 
The font size is 20 pixels and the font is set to 'Gill Sans' with the rest listed as fall backs.*/
header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right; 
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px; 
    
}
/*This unordered list has no style type*/
header nav ul {
    list-style-type: none;
    
}
/*List items within the header are displayed inline and have a margin on the left-side of 25 pixels.*/
header nav ul li {
    display: inline-block;
    margin-left: 25px;
}
/*The color of the text within the anchor tags is set to white.*/
a {
    color: #ffffff;
    text-decoration: none;
}
/*The height of the background image is set to 800 pixels and the width is set to 100% of the page.
It has a margin on the bottom of it of 25 pixels.*/
#hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}
/*All content within <main> has a width of 75% and are displayed inline with a left margin of 20 pixels.*/
main {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}
/*Content within the <section> element with the .topics class selecter has a margin of 20 
pixels on the bottom and padding of 50 pixels all around. 
The background color in this <section> is set to blue and the text is set to white with a 
font of Gill Sans with the rest of the fonts listed as fall backs.*/
.topics {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}
/*images within the .topics <section> have a maximum height of 200 pixels.*/
.topics img {
    max-height: 200px;
}
/*the text in the <h2> elements in the .topics <section> have bottom margins of 20 pixels and a font size of 36 pixels.*/
.topics h2 {
    margin-bottom: 20px;
    font-size: 36px;
}
/*the text within the <p> elements have a font size of 16 pixels.*/
p {
    font-size: 16px;
}
/*images with this class selector will be positioned to the left with a margin on the right side of 25 pixels.*/
.float-left {
    float: left;
    margin-right: 25px;
}
/*the image with this class selector will be positioned to the right with a margin on the left side of 25 pixels.*/
.float-right {
    float: right;
    margin-left: 25px;
}
/*Content within the <aside> element has a margin on the right side of 20 pixels and padding all around of 20 pixels.
The content is positioned on the right side of the screen and has a width of 20% and a height of 100%.
The text within has a font of 'Gill Sans' with the rest listed as fall backs.
The background color is set to blue.*/
aside {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}
/*Text within the <section> with the class selector of .benefits is set to the color white
and has a margin on the bottom of 32 pixels.*/
.benefits {
    margin-bottom: 32px;
    color: #ffffff;
}

/*The text within the <h3> element of the .benefits <section> is aligned to the center and has
a margin on the bottom of 10 pixels.*/
.benefits h3 {
    margin-bottom: 10px;
    text-align: center;
}

/*The images within the .benefits <section> has a block display, meaning there are line breaks
both before and after the elements. There are 10 pixels of margin on the top and bottom
and they will have a maximum width of 150 pixels.*/
.benefits img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/*Content within the <footer> element has padding all around of 30 pixels and a font of Trebuchet MS
with the rest listed as fall backs. The text in the <footer> is aligned to the center.*/
footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}
/*The text in the <h4> element within the <footer> has a font size of 20 pixels.*/
footer h4 {
    font-size: 20px;
}
